body {
	background: #DCDCDC;
	margin: 0 auto;
}

.imgbox, .imgbox1 {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	position: relative;
	width: 182px;
	height: 142px;
	border: 1px solid gray;
	overflow: hidden;
}

.imgbox1 {
	border: 1px solid blue;
}

.imgnum {
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
}

.imgnum input, .imgnum1 input {
	position: absolute;
	width: 182px;
	height: 142px;
	opacity: 0;
}

.imgnum img, .imgnum1 img {
	width: 100%;
	height: 100%;
}

.close, .close1 {
	color: red;
	position: absolute;
	left: 170px;
	top: 0px;
	display: none;
}