/*---------------------------------所有DOM元素的通用属性设置---------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
/*---------------------------------购物车中的商品信息外层容器div属性设置---------------------------------*/
.container, .tbBar, .commodityColumn, .shopInfo, .commodityInfo, .commodityInfo ul {
  *zoom: 1;
}
.container:after, .tbBar:after, .commodityColumn:after, .shopInfo:after, .commodityInfo:after, .commodityInfo ul:after {
  content: "";
  display: table;
  clear: both;
}
.switch-cart, .commodityInfo ul {
  list-style: none;
}
.main {
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-bottom: 70px;
}
.tbBar {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.tbMain {
  min-height: 210px;
}
.commodityColumn {
  color: #3c3c3c;
  height: 50px;
  padding: 3px 0;
  line-height: 50px;
  overflow: hidden;
}
.switch-cart {
  height: 33px;
}
/*---------------------------------购物车中的商品信息属性设置---------------------------------*/
.th-chk, 
.commodityInfo .td-chk, 
.th-inner, 
.commodityInfo .td-item, 
.th-space, 
.commodityInfo .td-info, 
.th-price, 
.commodityInfo .td-price, 
.th-amount, 
.commodityInfo .td-amount, 
.th-sum, 
.commodityInfo .td-sum, 
.th-operation, 
.commodityInfo .td-operation {
  float: left;
}
.th-chk, /*标题：全选*/
.commodityInfo .td-chk, /*内容：复选框*/
.th-inner, /*标题：商品信息*/
.commodityInfo .td-item, /*内容：具体商品信息*/
.th-space, /*标题：商品描述信息*/
.commodityInfo .td-info, /*内容：具体商品描述信息*/
.th-price, /*标题：商品单价*/
.commodityInfo .td-price, /*内容：具体商品单价*/
.th-amount, /*标题：商品数量*/
.commodityInfo .td-amount, /*内容：具体商品数量*/
.th-sum, /*标题：商品金额*/
.commodityInfo .td-sum, /*内容：具体商品金额*/
.th-operation, /*标题：商品操作*/
.commodityInfo .td-operation {/*内容：具体商品操作*/
  float: left;
}
.commodityInfo {
  border: 1px solid #ccc;
  padding: 20px 0;
  background-color: #FCFCFC;
}
.commodityInfo .shoppicture{
  display: inline-block;
  float: left;
}

/*标题、内容：复选框*/
.th-chk, .commodityInfo .td-chk {
  position: relative;
  height: 50px;
  width: 45px;
}
.td-inner input {
  cursor: pointer;
}
.commodityInfo .td-chk {
  width: 35px;
  min-height: 79px;
  padding-left: 10px;
}

/*标题、内容：商品信息*/
.th-inner, .commodityInfo .td-item {
  width: 302px;
}
.commodityInfo .td-item {
  min-height: 79px;
}
.commodityMsg {
  padding-left: 91px;
}

.commodityMsg div {
  margin-top: -3px;
}
.commodityInfo .item-info {
  margin: -3px 0 0 91px;
  padding-right: 15px;
  min-height: 79px;
}

.commodityInfo .item-info a {
  text-decoration: none;
  color: #3c3c3c;
}

.commodityInfo .item-info a:hover {
  color: #f40;
  text-decoration: underline;
}

.commodityInfo .item-other-space {
  min-height: 26px;
  overflow: hidden;
}
.commodityInfo .bandCard {
  display: inline-block;
  background-position: 0 -85px;
  height: 11px;
  width: 16px;
}

.commodityInfo .sevenDay {
  display: inline-block;
  margin: 0 2px;
  background-position: 0 -562px;
  height: 16px;
  width: 16px;
}

.commodityInfo .guarantee {
  display: inline-block;
  background-position: 0 -271px;
  height: 16px;
  width: 14px;
}
/*标题、内容：商品描述信息*/
.th-space, .commodityInfo .td-info {
  width: 172px;
  padding-right: 20px;
}
.td-inner {
  padding-left: 10px;
  margin-top: -2px;
}
.commodityInfo .td-info {
  min-height: 79px;
}

.commodityInfo .td-info-msg {
  min-height: 84px;
}

.commodityInfo .td-info-msg p {
  margin: 0 5px 0 15px;
  color: #9c9c9c;
  padding-bottom: 3px;
  margin-top: -2px;
}
/*标题、内容：商品单价、数量*/
.th-price, .th-amount, .commodityInfo .td-price, .commodityInfo .td-amount {
  width: 120px;
}
.commodityInfo .td-price {
  min-height: 79px;
}

.commodityInfo .td-price .non-discount {
  font-size: 1em;
  color: #9c9c9c;
  text-decoration: line-through;
}

.commodityInfo .td-price .discount {
  font-weight: 600;
}

.commodityInfo .td-price .discount span {
  font-size: 1.2em;
}

.commodityInfo .td-price .promotion {
  height: 23px;
  line-height: 23px;
  width: 65px;
  border: 1px solid #FFE1D3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  background-color: #FFF0E7;
  margin-left: -10px;
  padding-right: 17px;
  color: #FF4400;
  font-size: 1.1em;
  padding-left: 3px;
}

.commodityInfo .td-price .promotion:hover .promotionIcon {
  position: absolute;
  margin-top: 5px;
  border-bottom-color: #f40;
}
/*卖家促销收起、展开箭头*/
.commodityInfo .td-price .promotion:hover .promotionIcon {
  content: "";
  border: 4px solid transparent;
  border-bottom-color: #6c6c6c;
  display: inline-block;
  position: relative;
  margin-left: 4px;
}
.commodityInfo .td-price .promotionIcon {
  content: "";
  border: 4px solid transparent;
  border-top-color: #6c6c6c;
  display: inline-block;
  position: relative;
  margin-left: 4px;
}
.commodityInfo .td-price .promotionIcon {
  position: absolute;
  margin-top: 10px;
  border-top-color: #f40;
}
.commodityInfo .td-amount {
  min-height: 79px;
}

.commodityInfo .item-amount {
  height: 25px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.commodityInfo .item-amount a {
  display: inline-block;
  height: 23px;
  line-height: 23px;
  position: absolute;
  top: 0;
  border: 1px solid #e5e5e5;
  width: 17px;
  background-color: #f0f0f0;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #444;
}

.commodityInfo .item-amount a:hover {
  border: 1px solid #f60;
}

.commodityInfo .item-amount .amount-right {
  border-left-color: #aaa;
}

.commodityInfo .item-amount .amount-color {
  color: #444;
}

.commodityInfo .item-amount .amount-left {
  border-right-color: #aaa;
}

.commodityInfo .item-amount input {
  width: 39px;
  height: 15px;
  padding: 4px 1px;
  line-height: 15px;
  border: 1px solid #aaa;
  border-left-width: 0;
  border-right-width: 0;
  margin-left: 18px;
  text-align: center;
}
/*单价促销价格*/
.commodityInfo .proSlidedown {
  width: 136px;
  padding: 10px;
  margin-left: -10px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
  position: absolute;
  -moz-box-shadow: 2px 2px 3px #f4f4f4;
  -webkit-box-shadow: 2px 2px 3px #f4f4f4;
  box-shadow: 2px 2px 3px #f4f4f4;
}

.commodityInfo .proSlidedown p {
  color: #9c9c9c;
}

.commodityInfo .proSlidedown .newPro {
  padding-bottom: 4px;
}

/*标题、内容：商品金额*/
.commodityInfo .td-sum {
  min-height: 79px;
  color: #f40;
  font-weight: bold;
}

.commodityInfo .td-sum em {
  font-style: normal;
  font-size: 1.3em;
}

.commodityInfo .td-sum span {
  font-size: 1.2em;
}
.th-sum, .commodityInfo .td-sum {
  width: 105px;
}
.th-sum .td-inner, .commodityInfo .td-sum .td-inner {
  padding-left: 0;
}
/*标题、内容：商品操作*/
.commodityInfo .td-operation {
  min-height: 79px;
}

.commodityInfo .td-operation a {
  color: #3c3c3c;
  text-decoration: none;
  display: inline-block;
  margin-top: 4px;
}

.commodityInfo .td-operation a:hover {
  color: #f40;
  text-decoration: underline;
}
.th-operation, .commodityInfo .td-operation {
  width: 84px;
  padding-left: 15px;
}

.th-operation .td-inner, .commodityInfo .td-operation .td-inner {
  padding-left: 0;
}

/*---------------------------------购物车中店铺信息属性设置---------------------------------*/
.shopMsg {
  line-height: 38px;
  padding-left: 15px;
  position: relative;
}

.shopMsg .shopMsg-input {
  position: relative;
  top: 2px;
  cursor: pointer;
  left: 5px;
}

.shopMsg label {
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
}

.shopMsg a {
  text-decoration: none;
  color: #3c3c3c;
}

.shopMsg a:hover {
  color: #f40;
  text-decoration: underline;
}
/*---------------------------------购物车中最上面的结算条属性设置---------------------------------*/
.cart-sum {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  line-height: 25px;
}

.cart-sum .price {
  color: #f40;
  font-weight: 700;
  margin-right: 5px;
}

.cart-sum .total-symbol {
  font-size: 14px;
  font-weight: bold;
}

.cart-sum .submit-btn {
  text-decoration: none;
  display: inline-block;
  width: 55px;
  text-align: center;
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn-common {
  cursor: not-allowed;
  background-color: #aaa;
}
/*---------------------------------购物车中复选项属性设置---------------------------------*/

.selectAll {
  position: absolute;
  padding-left: 20px;
  width: 80px;
  cursor: pointer;
}

.selectAll input {
  cursor: pointer;
}

.selectAll label {
  margin-top: -2px;
  position: absolute;
  margin-left: 6px;
  cursor: pointer;
}
/*---------------------------------购物车中库存属性设置---------------------------------*/
.stock {
  display: none;
}

/*---------------------------------购物车中最多购买数量属性设置---------------------------------*/
.outNum {
  margin-top: -1px;
  position: absolute;
  display: none;
  width: 78px;
  padding: 5px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #FFE1D3;
  background-color: #FFF0E7;
  color: #f40;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.outNum em {
  font-style: normal;
}
/*---------------------------------购物车中最下面结算条的具体信息属性设置---------------------------------*/

.footer {
  width: 1000px;
  height: 50px;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  background-color: #E5E5E5;
}
/*全选操作*/
.all-selected {
  cursor: pointer;
  float: left;
  line-height: 50px;
  padding-left: 5px;
  width: 50px;
}

.all-selected input {
  position: relative;
  top: 1px;
  cursor: pointer;
}

.all-selected label {
  display: inline-block;
  cursor: pointer;
}
/*删除操作*/
.operation {
  float: left;
  line-height: 50px;
}

.operation a {
  margin-left: 25px;
  color: #3c3c3c;
  text-decoration: none;
}

.operation a:hover {
  text-decoration: underline;
  color: #f40;
}

.float-bar-right {
  float: right;
  line-height: 50px;
  padding-left: 20px;
}
/*金额*/
.amount-sum {
  cursor: pointer;
  float: left;
  padding-right: 20px;
}

.amount-sum em {
  font-style: normal;
  color: #f40;
  font-size: 1.4em;
}
/*合计信息*/
.price-sum {
  float: left;
  line-height: 44px;
  padding-right: 20px;
}
.price-sum .moneySym {
  color: #f40;
}
.price-sum .total-sum {
  font-size: 1.8em;
  font-weight: bold;
  font-style: normal;
  color: #f40;
}
/*最下面结算条的结算按钮*/
.btn-area {
  float: left;
  line-height: 50px;
}
.btn-area a {
  display: inline-block;
  width: 120px;
  text-align: center;
  font-size: 1.8em;
  font-family: "Lantinghei SC","Microsoft Yahei";
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}
/*恢复删除提示信息*/
.deleteCom {
  border: 2px solid #fff8d9;
  height: 26px;
  line-height: 26px;
}

.deleteCom p {
  padding-left: 25px;
  color: #404040;
}

.deleteCom em {
  font-style: normal;
  margin: 0 4px;
  color: #404040;
}

.deleteCom a {
  color: #404040;
  text-decoration: none;
}

.deleteCom a:hover {
  color: #f40;
  text-decoration: underline;
}
