body{background:#DCDCDC;margin:0 auto;}
#MostOutsideDiv{  
	margin:0 auto;
    width:1024px; /*宽度必须指定 */  
    /*height:768px;*//*高度根据内容自动填充 */  
    background-color:blue;  
}  
table.imagetable {
	width:100%;
	height:100%;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	height:10px;
	width:50px;	
	background:#b5cfd2;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	height:10px;
	width:50px;
	background:#dcddc0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}