body{background:#DCDCDC;margin-top:0 auto;}
#MostOutsideDiv{  
	margin:0 auto;
    width:1100px; /*宽度必须指定 */  
    /*height:768px;*//*高度根据内容自动填充 */  
    background-color:#DCDCDC;  
}  
.examples {padding-left: 10px;}